

html{
    height: 100%;
}


body{
z-index: 10;
    padding: 0;
    margin: 0;
    background-color: rgb(25, 0, 32);
    min-height: 100%;
    animation: aparecer 1s ease-in-out forwards;
}

@keyframes aparecer {
    0% {
        opacity: 0; /* Comienza completamente transparente */
    }
    100% {
        opacity: 1; /* Termina completamente visible */
    }
}


.grid_container{
    display: grid;
    grid-template-areas:
            "header header header header navbar navbar navbar"
             "header2 header2 header2 header2 nav2 nav2 nav2"

              "sidebar sidebar sidebar sidebar sidebar sidebar sidebar"
             "main main main main main main main"
            "modal_container modal_container modal_container modal_container modal_container modal_container modal_container"
              "article article article article article article article"
            "article2 article2 article2 article2 article2 article2 article2"
            "footer footer footer footer footer footer  footer ";
;
}
.header{

    grid-area: header;
position: fixed;
    height: 9vh;

    margin-left: 2rem;
    display: flex;
    justify-content: start;
    align-content: center;
    align-items: center;
    background-color: rgb(25, 0, 32);
}

.header2{

    grid-area: header2;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.1);
    height: 14vh;
    margin-top:0.5rem ;
    margin-left: 6rem;
    display: flex;
    justify-content: start;
    align-content: center;
    align-items: center;

font-family: sans-serif;
}



#wolf_logo, #wolflogo {

    position: relative;
    bottom: 0.2rem;
    height: 55px;
    width: 55px;

}



#wolf_banck {
    mix-blend-mode: screen;
    font-family: 'Paytone One', sans-serif;
    font-size: 50px;
    background: url(https://i.gifer.com/WSG.gif);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#retiro,#pay1,#trans1,  #ingresar, #salir{
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease; /* Agregar una transición suave para el zoom */
}


.column{
    flex-direction: column;
    color: white;
}
.navbar{
    flex-direction: row;
    height: 9vh;
    margin-top:0.5rem ;
    margin-right: 4rem;
    grid-area: navbar;
    background-color: rgb(25, 0, 32);
    z-index: 100;
    display: flex;
    gap: 1rem;
    font-family: sans-serif;
    justify-content: end;
    align-content: center;
    align-items: center;
}
.navbar2{
    flex-direction: row;
    height: 14vh;

    font-family: sans-serif;
    margin-top:0.5rem ;
    margin-right: 1rem;
    grid-area: nav2;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
    display: flex;
    gap: 1rem;
    justify-content: end;
    align-content: center;
    align-items: center;
}


#admission::before {
    content: attr(datetime);
}
.button{
    position: relative;

    gap: 20px;
    display: flex;
    flex-direction: row;

    justify-content: space-between;

}
.btn{
    background-color: transparent;
    border:0;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: scale(1.3);
}
::-webkit-scrollbar {
    width: 1px;
}

.sidebar{
    background-color: rgb(245,244,245);
    text-align: center;

    color: black;
    display: flex;
    font-family: sans-serif;
    grid-area: sidebar;
    height: 15vh;

    justify-content:space-around;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 0;

    font-size: 30px;



}


.main {
    margin: 0;
    padding: 0;
    grid-area: main;
    height: 30vh;
    z-index: -10000;
    display: flex;
    flex-direction: row;
    background-color: rgb(245,244,245);
    gap:20px;
    align-items: center;
    justify-content: center;
    font-family: 'Paytone One', sans-serif;
    font-size: 30px;



}



.productos{

position: relative;
    width: 17rem;
    height: 12rem;
border-radius:5px ;
}
.productos .form{
    position: absolute;
    inset:4px;
    background:white;
    padding: 50px 40px;
    border-radius:8px ;
    z-index: 2;
    display: flex;
flex-direction: row;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
#pig{
    width: 2rem;
    height: 2rem;
    position: relative;
    bottom: 2.7rem;
    right: 1.7rem;
}
#Cta{
    display: flex;
    font-size: 1rem;
    position: relative;
    bottom: 5.7rem;
left: 1rem;
    width: 10rem;
    padding: 0;
    margin: 0;
border: 0;
    font-family: sans-serif;
    flex-direction: column;
}
#show1{
width: 1rem;
    height: 1rem;
    position: relative;
    bottom: 0.8rem;
}
#btnpoints{
    border: none;
    background: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    position: relative;
    bottom: 9rem;
    left: 11.5rem;
}
#points{
    width: 2rem;
    height: 2rem;
}

#availableBalance{
    border: none;
    padding: 0;
    margin: 0;

    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    color: black;

}

#Balance{
color: rgb(140,76,209);
    font-size: 1.5rem;
    position: relative;

    right: 11rem;
}
#Available{
    font-size: 0.9rem;
    position: relative;
    width: 8rem;
   bottom: 1.8rem ;
    right: 11rem;
}
.Seedetails{
    
    padding: 0;
    margin: 0;
    top: 6rem;
position: relative;

    right: 17rem;
    font-family: sans-serif;
}
.details{
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    font-size: 1.1rem;
    width: 10rem;
    color: rgb(140,76,209);
    cursor: pointer;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.details:hover {
    transform: scale(1.1);
}
#wolf{
    position: relative;
    bottom:  8px;
    width: 40px;
    height: 40px;
}
.modal_container{
    grid-area: modal_container;
    z-index: 10000;
position: fixed;

height: 100%;
    width: 100%;
    justify-content: center ;
    color: white;
background-color: rgba(0, 0, 0, 0.88);
display: none;
    text-align: center;
    flex-direction: column;
    font-family: 'Paytone One', sans-serif;
    animation: aparecer 1s ease-in-out forwards;


}

@keyframes aparecer {
    0% {
        opacity: 0; /* Comienza completamente transparente */
    }
    100% {
        opacity: 1; /* Termina completamente visible */
    }
}

.buttonSingOff{
display: flex;
    position: relative;

    top: 7rem;
    flex-direction: row;
    justify-content: space-evenly;
}
.modal{
display: none;
border: 3px solid rgb(239,19,54);;
padding: 2rem ;
    background-color: black ;
    border-radius:1rem ;
    height: 25rem;
    width: 35rem;

}
#modal3_1{

    display: flex;
    flex-direction: column;
}

#modal3_1 h1{
    font-size:50px ;
}
#Succesful{
    font-size:25px ;
    position: relative;
    bottom: 3.5rem;
}
#tipoTransaccion, #fecha_hora, #valor{
    display: flex;
position: relative;
    bottom: 1rem;
    flex-direction: row;
    justify-content: space-between;
}
#Logo{
    display: flex;

    flex-direction: row;
justify-content: center;
}
#wolfTarget{
    position: relative;
    bottom: 1.5rem;
    background: url(https://i.gifer.com/WSG.gif);
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

}
#sure{
    text-align: center;
    font-family: 'Paytone One', sans-serif;
}
#Signoff, .Cancel {
    text-decoration: none;
    outline: none;
    *font-size: 20px;
    border-radius: 20px;
    padding: 5px 40px;
    border: 2px solid white;
    cursor: pointer;
    display: block;
    background-color: transparent;
    font-family: 'Paytone One', sans-serif;

}
#Signoff:hover{
    background-color:purple;
    border-color: black;
}
.Cancel:hover{
    background-color:purple;
    border-color: black;
}
.show{
    pointer-events: auto;
    display: block;
}



input[type="number"]{
    accent-color: mediumorchid;
    caret-color: mediumorchid;
}
input[type="password"]{
    accent-color: mediumorchid;
    caret-color: mediumorchid;
}
.inputBox2 {
    position: relative;
left:7rem;
   gap: 40px;
    width: 300px;



}

.username input {
    padding: 15px 20px;
    outline: none;
    width: 100%;
    background: transparent;
    border-radius: 8px;
    color: #fff;
    border: 1px solid rgb(233, 19, 52);
    font-size: 1em;
}

#username2, #username4{
    position: relative;
    top: 3rem;
}

#span2 #span4{
    top:4rem !important;
}

.username .span {
    position: absolute;
    left: 2px;
    top: 1px;
    padding: 15px 20px;
    pointer-events: none;
    font-size: 1em;
    transition: 0.5s;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.25);
    letter-spacing: 0.1em;
}



.username input:focus~.span,
.inputBox input:valid~.span {
    color: rgb(8, 8, 8);
    font-size: 0.75em;
    transform: translateX(10px) translateY(-7px);
    padding: 0 5px;
    background: blueviolet;
    border-radius: 2px;
}

.username .span2 {
    position: absolute;
    left: 2px;
    top: 3rem;
    padding: 15px 20px;
    pointer-events: none;
    font-size: 1em;
    transition: 0.5s;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.25);
    letter-spacing: 0.1em;
}



.username input:focus~.span2,
.inputBox input:valid~.span2 {
    color: rgb(8, 8, 8);
    font-size: 0.75em;
    transform: translateX(10px) translateY(-7px);
    padding: 0 5px;
    background: blueviolet;
    border-radius: 2px;
}


#toggle {
    position: relative;
 top: 9px;

   left: 95%;
    background: url(show.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#toggle.hide {
    background: url(hide.png);
    background-size: cover;
}

.button-with-tail {
    display: inline-block;
    position: relative;
}

#article{
    background-color: white;

    z-index: 0;
    color: black;
    display: flex;
    font-family: sans-serif;
    grid-area: article;
    height: 20vh;
    border-bottom:1px solid red ;
    justify-content: center;

    align-items: center;

    margin: 0;
    padding: 0;

    font-size: 30px;



}

#article2{
    background-color: white;
    text-align: center;
    z-index: 0;
    color: black;
    display: flex;
    font-family: sans-serif;
    grid-area: article2;
    height: 20vh;

    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 0;

    font-size: 30px;



}


.footer{
    background-color: rgb(245,244,245);
    grid-area: footer;

    height: 5vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#moneyProductos{
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    width: 36em;
    border-radius: 0.5rem;
    border: none;
   background-color: white;
    align-items: center;
    height: 6rem;
font-size: 15px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

#moneyProductos:hover {
    transform: scale(1.1);
}


#help{
    background-color:rgb(140,76,209);
    color: white;
    font-size: 15px;
    padding: 0.8rem;
    width: 5rem;
    border-radius: 0.3rem;
    border: none;
box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;
}
#help::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 7px solid transparent; /* Ajusta el tamaño del cateto adyacente */
    border-right: 7px solid transparent; /* Ajusta el tamaño del cateto adyacente */
    border-top: 15px solid rgb(140, 76, 209); /* Ajusta el tamaño del lado opuesto */
    position: absolute;
    bottom: -20px; /* Coloca el triángulo por debajo del botón */
    right: 0; /* Ajusta la posición del triángulo a la derecha */
}
#help:hover {
    transform: scale(1.1);
}

.imageMoney{
    height: 3rem;
    width: 3rem;
}

.savingsAccounts{
        position: relative;
    bottom: 2.5rem;
    font-family: sans-serif;
    font-size: 1rem;
}