

html{
    height: 100%;
}


body{
z-index: 10;
    padding: 0;
    margin: 0;
    background-color: rgb(25, 0, 32);
    min-height: 100%;
    animation: aparecer 1s ease-in-out forwards;
}

@keyframes aparecer {
    0% {
        opacity: 0; /* Comienza completamente transparente */
    }
    100% {
        opacity: 1; /* Termina completamente visible */
    }
}


.grid_container{
    display: grid;
    grid-template-areas:
            "header header header header navbar navbar navbar"
             "header2 header2 header2 header2 nav2 nav2 nav2"

              "sidebar sidebar sidebar sidebar sidebar sidebar sidebar"
             "main main main main main main main"
            "modal_container modal_container modal_container modal_container modal_container modal_container modal_container"
              "article article article article article article article"
            "article2 article2 article2 article2 article2 article2 article2"
            "footer footer footer footer footer footer  footer ";
;
}
.header{

    grid-area: header;

    height: 9vh;
    margin-top:0.5rem ;
    margin-left: 2rem;
    display: flex;
    justify-content: start;
    align-content: center;
    align-items: center;

}

.header2{

    grid-area: header2;

    height: 14vh;
    margin-top:0.5rem ;
    margin-left: 6rem;
    display: flex;
    justify-content: start;
    align-content: center;
    align-items: center;

font-family: sans-serif;
}



#wolf_logo, #wolflogo {

    position: relative;
    bottom: 0.2rem;
    height: 55px;
    width: 55px;

}



#wolf_banck {
    mix-blend-mode: screen;
    font-family: 'Paytone One', sans-serif;
    font-size: 50px;
    background: url(https://i.gifer.com/WSG.gif);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#retiro,#pay1,#trans1,  #ingresar, #salir{
    height: 50px;
    width: 50px;

}
.column{
    flex-direction: column;
    color: white;
}
.navbar{
    flex-direction: row;
    height: 9vh;
    margin-top:0.5rem ;
    margin-right: 4rem;
    grid-area: navbar;

    z-index: 100;
    display: flex;
    gap: 1rem;
    justify-content: end;
    align-content: center;
    align-items: center;
}
.navbar2{
    flex-direction: row;
    height: 14vh;

    font-family: sans-serif;
    margin-top:0.5rem ;
    margin-right: 1rem;
    grid-area: nav2;

    z-index: 100;
    display: flex;
    gap: 1rem;
    justify-content: end;
    align-content: center;
    align-items: center;
}


#admission::before {
    content: attr(datetime);
}
.button{
    position: relative;

    gap: 20px;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}
.btn{
    background-color: transparent;
    border:0;
    cursor: pointer;



}
::-webkit-scrollbar {
    width: 1px; /* Ancho de la barra de desplazamiento */
}

.sidebar{
    background-color: rgb(245,244,245);
    text-align: center;
    z-index: 0;
    color: black;
    display: flex;
    font-family: sans-serif;
    grid-area: sidebar;
    height: 14vh;
    border-bottom:1px solid red ;
    justify-content:space-around;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 0;

    font-size: 30px;



}


.main {
    margin: 0;
    padding: 0;
    grid-area: main;
    height: 60vh;
    z-index: -10000;
    display: flex;
    flex-direction: row;
    background-color: rgb(245,244,245);
    gap:20px;
    align-items: center;
    justify-content: center;
    font-family: 'Paytone One', sans-serif;
    font-size: 30px;
   border-bottom: 1px solid red;


}



.productos{

position: relative;
    width: 16rem;
    height: 10rem;
border-radius:8px ;
    background: #1c1c1c;
    overflow: hidden;
    font-size: 20px;

}
.productos form{
    position: absolute;
    inset:4px;
    background:white;
    padding: 50px 40px;
    border-radius:8px ;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.productos::before{
    content:'';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 500px;
    background: linear-gradient(0deg,transparent,transparent, rgb(88,29,169),rgb(88,29,169),rgb(88,29,169));
    z-index: 1;
    transform-origin:bottom right ;
    animation: animate 3s linear infinite;
}
.productos::after{
    content:'';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 500px;
    background: linear-gradient(0deg,transparent,transparent, rgb(239,19,54),rgb(239,19,54),rgb(239,19,54));
    z-index: 1;
    transform-origin:bottom right ;
    animation: animate 3s linear infinite;
    animation-delay:-10s ;
}


@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
100%
{transform: rotate(360deg)}
}

.footer{
    background-color: rgb(245,244,245);
    grid-area: footer;

    height: 8vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#wolf{
    position: relative;
    bottom:  8px;
    width: 40px;
    height: 40px;
}
.modal_container{
    grid-area: modal_container;
    z-index: 10000;
position: fixed;

height: 100%;
    width: 100%;
    justify-content: center ;
    color: white;
background-color: rgba(0, 0, 0, 0.88);
display: none;
    text-align: center;
    flex-direction: column;
    font-family: 'Paytone One', sans-serif;
    animation: aparecer 1s ease-in-out forwards;


}

@keyframes aparecer {
    0% {
        opacity: 0; /* Comienza completamente transparente */
    }
    100% {
        opacity: 1; /* Termina completamente visible */
    }
}

.buttonSingOff{
display: flex;
    position: relative;

    top: 7rem;
    flex-direction: row;
    justify-content: space-evenly;
}
.modal{
display: none;
border: 3px solid rgb(239,19,54);;
padding: 2rem ;
    background-color: black ;
    border-radius:1rem ;
    height: 25rem;
    width: 35rem;

}
#modal3_1{

    display: flex;
    flex-direction: column;
}

#modal3_1 h1{
    font-size:50px ;
}
#Succesful{
    font-size:25px ;
    position: relative;
    bottom: 3.5rem;
}
#tipoTransaccion, #fecha_hora, #valor{
    display: flex;
position: relative;
    bottom: 1rem;
    flex-direction: row;
    justify-content: space-between;
}
#Logo{
    display: flex;

    flex-direction: row;
justify-content: center;
}
#wolfTarget{
    position: relative;
    bottom: 1.5rem;
    background: url(https://i.gifer.com/WSG.gif);
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

}
#sure{
    text-align: center;
    font-family: 'Paytone One', sans-serif;
}
#Signoff, .Cancel {
    text-decoration: none;
    outline: none;
    *font-size: 20px;
    border-radius: 20px;
    padding: 5px 40px;
    border: 2px solid white;
    cursor: pointer;
    display: block;
    background-color: transparent;
    font-family: 'Paytone One', sans-serif;

}
#Signoff:hover{
    background-color:purple;
    border-color: black;
}
.Cancel:hover{
    background-color:purple;
    border-color: black;
}
.show{
    pointer-events: auto;
    display: block;
}



input[type="number"]{
    accent-color: mediumorchid;
    caret-color: mediumorchid;
}
input[type="password"]{
    accent-color: mediumorchid;
    caret-color: mediumorchid;
}
.inputBox2 {
    position: relative;
left:7rem;
   gap: 40px;
    width: 300px;



}

.username input {
    padding: 15px 20px;
    outline: none;
    width: 100%;
    background: transparent;
    border-radius: 8px;
    color: #fff;
    border: 1px solid rgb(233, 19, 52);
    font-size: 1em;
}

#username2, #username4{
    position: relative;
    top: 3rem;
}

#span2 #span4{
    top:4rem !important;
}

.username .span {
    position: absolute;
    left: 2px;
    top: 1px;
    padding: 15px 20px;
    pointer-events: none;
    font-size: 1em;
    transition: 0.5s;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.25);
    letter-spacing: 0.1em;
}



.username input:focus~.span,
.inputBox input:valid~.span {
    color: rgb(8, 8, 8);
    font-size: 0.75em;
    transform: translateX(10px) translateY(-7px);
    padding: 0 5px;
    background: blueviolet;
    border-radius: 2px;
}

.username .span2 {
    position: absolute;
    left: 2px;
    top: 3rem;
    padding: 15px 20px;
    pointer-events: none;
    font-size: 1em;
    transition: 0.5s;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.25);
    letter-spacing: 0.1em;
}



.username input:focus~.span2,
.inputBox input:valid~.span2 {
    color: rgb(8, 8, 8);
    font-size: 0.75em;
    transform: translateX(10px) translateY(-7px);
    padding: 0 5px;
    background: blueviolet;
    border-radius: 2px;
}


#toggle {
    position: relative;
 top: 9px;

   left: 95%;
    background: url(show.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#toggle.hide {
    background: url(hide.png);
    background-size: cover;
}

.button-with-tail {
    display: inline-block;
    position: relative;
}

#article{
    background-color: white;

    z-index: 0;
    color: black;
    display: flex;
    font-family: sans-serif;
    grid-area: article;
    height: 20vh;
    border-bottom:1px solid red ;
    justify-content: center;

    align-items: center;

    margin: 0;
    padding: 0;

    font-size: 30px;



}

#article2{
    background-color: white;
    text-align: center;
    z-index: 0;
    color: black;
    display: flex;
    font-family: sans-serif;
    grid-area: article2;
    height: 12vh;

    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 0;

    font-size: 30px;



}
