* {
    background-color: rgb(25, 0, 32);
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.header {
    z-index: 1;
}

.container {
    position: relative;
    top: 50px;
    right: 100px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#wolf_logo {
    height: 200px;
    width: 250px;

}

p {
    color: white;
}

#wolf_banck {
    position: relative;
    top: 50px;

    mix-blend-mode: screen;
    font-family: 'Paytone One', sans-serif;
    font-size: 80px;


    background: url(https://i.gifer.com/WSG.gif);
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

}

.container2 {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bancavirtual {
    font-size: 20px;
    font-family: 'Paytone One', sans-serif;
}

.container3 {
    border-radius: 20px;
    height: 350px;
    width: 600px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid purple;
}

.tarjeta {
    height: 350px;
    width: 600px;
    position: relative;
    overflow: hidden;
    display: flex;
    gap: 35px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.inputBox {
    position: relative;
    width: 450px;
    gap: 40px;


}

.inputBox2 {
    position: relative;
    width: 450px;
    gap: 40px;

}

.username input {
    padding: 15px 20px;
    outline: none;
    width: 100%;
    background: transparent;
    border-radius: 5px;
    color: #fff;
    border: 1px solid rgb(233, 19, 52);
    font-size: 1em;
}

.inputBox input {
    padding: 15px 20px;
    outline: none;
    width: 100%;
    background: transparent;
    border-radius: 5px;
    color: #fff;
    border: 1px solid rgb(233, 19, 52);
    font-size: 1em;

}

.username span {
    position: absolute;
    left: 2px;
    top: 1px;
    padding: 15px 20px;
    pointer-events: none;
    font-size: 1em;
    transition: 0.5s;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.25);
    letter-spacing: 0.1em;
}

.inputBox span {
    position: absolute;
    left: 2px;
    top: 1px;
    padding: 15px 20px;
    pointer-events: none;
    font-size: 1em;
    transition: 0.5s;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.25);
    letter-spacing: 0.1em;

}

.username input:focus~span,
.inputBox input:valid~span {
    color: rgb(8, 8, 8);
    font-size: 0.75em;
    transform: translateX(10px) translateY(-7px);
    padding: 0 5px;
    background: blueviolet;
    border-radius: 2px;
}


.inputBox input:focus~span,
.inputBox input:valid~span {
    color: rgb(8, 8, 8);
    font-size: 0.75em;
    transform: translateX(10px) translateY(-7px);
    padding: 0 5px;
    background: blueviolet;
    border-radius: 2px;
}

#toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    background: url(show.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#toggle.hide {
    background: url(hide.png);
    background-size: cover;
}

button {
    outline: none;
    font-size: 20px;
    border-radius: 20px;
    padding: 15px 60px;
    border: 2px solid white ;
    cursor: pointer;
}

button:hover{
background-color:purple;
border-color: black;
}

#ingresar{
    background-color: transparent;
}
footer{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer p:hover{
    text-decoration: underline;
}
